:root {
	--colorDarkBG: #20124d;
	--colorDarkContent: #847dff;
	--colorLightBG: #362a5f;
	--colorLightContent: #a487ff;

	--scrollTop: 0px;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}
html { 
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow: auto;
	}
body {
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	background: var(--colorDarkBG);
	color: white;
	overflow: hidden;
}

#menu {
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 1em;
	right: 2em;
	text-align: right;
	font-size: 1.8vmin;
	line-height: 4vmin;
	--aaaaaaa: 0.4em;
}

#menu a {
	margin-bottom: var(--aaaaaaa);
	text-decoration: none;
	color: #847DFF;
}

#menu br {
	margin-bottom: var(--aaaaaaa);
}


#titlePage {
	width: 100vw;
	min-height: 80vh;
}

#logo {
	position: relative;
	left: 1em; top: 1em;	/* pseudo-margin */
	font-size: 3vh;
	line-height: 2em;
}
#logo #logo-text {
	position: absolute;
	display: inline-block;

	font-family: "Ubuntu";
	font-weight: bold;
}
#logo_m{
    width:50px;
    height:50px;
    color: rgba(0, 0, 0, 0);
    display:inline-block;
    margin-top:-52px;
    margin-right:10px;
}
#logo_m svg{
    width:50px;
    height:auto;
}
#wheel {
    color: rgba(0, 0, 0, 0);
    animation: ckw 3s ease-in-out infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-play-state: paused;
}
#CM_x5F_1:hover #wheel{   
    animation-play-state: running;
}
  
@keyframes ckw {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

#motto {
	font-family: "Ubuntu";
	font-weight: bold;
	font-size: 11vmin;
	
	position: absolute;
	top: 1.5em;
	left: 1em;
}

#submotto {
	font-family: "Open Sans";
	font-weight: bold;
	color:#847DFF;
	font-size: 2.3vmin;
	margin-top: 3.5vmin;
}

.magic-underline {
	position: relative;
}

.magic-underline::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0.25em;
	border-radius: 0.125em;
	bottom: 0.04em;
	transform:translateX(-100%);
	z-index: -1;
	background-color: var(--colorDarkContent);
}

#footer {
	font-family: "Open Sans";
	font-size: 13px;
	background-color: var(--colorLightBG);
	color: var(--colorLightContent);
	text-align: center;
	padding: 1em;
}


.heading{
	text-shadow: 1px 3px 0px #847DFF;
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: bold;
	font-size: 2.2vw;
	line-height: 2.5vw;
	text-align: center;
	color: #FFFFFF;
	margin-bottom:2vh;
  }


.col_desc{
	display: inline-block;
	margin-top:5vw;
	margin-left: 6.25vw;
	width:93.75vw;
	margin-bottom: 5vw;
}
.txt_col{
	width:25vw;
	margin-right:6.25vw;
	float:left;
	text-align:center;
}
.description{
	text-align: justify;
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}
@media screen and (max-width: 1000px){
#titlePage {
	width: 100vw;
	min-height: 60vh;
}
.heading{
	font-size: 3.2vh;
	line-height: 3.8vh;
  }
#footer {
	font-size: 10px;
	background-color: var(--colorLightBG);
	color: var(--colorLightContent);
	text-align: center;
	padding: 1em;
}
 #menu{
	font-size: 3vmin;
 }
 #submotto{
	 
	font-size: 3vmin;
	margin-top: 3.5vmin;
 }
 .txt_col {
	 float: none !important;
	 width: 100%;
	 margin-top:8vw;
 }
 .col_desc {
	 margin-left: 0vw;
	 text-align: center;
	 width: 80vw;
	 margin-left: 10vw;
	 margin-right: 10vw;
 }
 .description span{
	 font-size: 20px;
	 line-height: normal;
 }
}