:root {
	--colorDarkBG: #20124d;
	--colorDarkContent: #847dff;
	--colorLightBG: #362a5f;
	--colorLightContent: #a487ff;
	--logoBackground: #2E1F5F;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #362a5f;
}

::-webkit-scrollbar-thumb {
	background: #847dff;
}

::-webkit-scrollbar-thumb:hover {
	background: #a487ff;
}

html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	background: var(--colorDarkBG);
	color: white;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: white;
}

#menu {
	display: inline-block;
	position: fixed;
	width: 100%;
	background-color: #2E1F5F;
	height: 4.7vw;
	z-index: 1;
	box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.2);
}

#menu_links {
	float: right;
	width: auto;
	font-size: 1vw;
	line-height: 1vw;
	margin-top: 1.85vw;
	margin-right: 1vw;
	color: var(--colorLightContent);
}

#menu_links a {
	color: var(--colorLightContent);
	margin-left: 2vw;
}

#menu_links a:hover {
	color: white;
	margin-left: 2vw;
}

.no_margin {
	margin-left: 0 !important;
}

.logo_a {
	float: left;
	width: auto;
}

.logo {
	width: auto;
	font-size: 1.6vw;
	line-height: 2vw;
	margin-left: 15px;
	margin-top: -2vw;
}

.logo .logo-text {
	font-family: "Ubuntu";
	font-weight: bold;
	margin-left: 3.8vw;
}

.logo_m {
	width: 3.3vw;
	height: 3.3vw;
	color: rgba(0, 0, 0, 0);
}

.logo_m svg {
	margin-top: 0.6vw;
	width: 3.3vw;
	height: auto;
}

#wheel {
	color: rgba(0, 0, 0, 0);
	animation: ckw 3s ease-in-out infinite;
	transform-origin: 50% 50%;
	display: inline-block;
	animation-play-state: paused;
}

.logo:hover #wheel {
	animation-play-state: running;
}

@keyframes ckw {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#titlePage {
	width: 100vw;
	min-height: 80vh;
}

#motto {
	font-family: "Ubuntu";
	font-weight: bold;
	font-size: 11vmin;
	position: absolute;
	top: 1.5em;
	left: 1em;
}

#submotto {
	font-family: "Open Sans";
	font-weight: bold;
	color: var(--colorDarkContent);
	font-size: 2.3vmin;
	margin-top: 3.5vmin;
}

.magic-underline {
	position: relative;
}

.magic-underline::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0.25em;
	border-radius: 0.125em;
	bottom: 0.04em;
	transform: translateX(-100%);
	z-index: -1;
	background-color: var(--colorDarkContent);
}

#footer {
	font-family: "Open Sans";
	font-size: 13px;
	background-color: var(--colorLightBG);
	color: var(--colorLightContent);
	text-align: center;
	padding: 1em;
}

.heading {
	text-shadow: 1px 2px 0px var(--colorDarkContent);
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 50px;
	text-align: center;
	color: white;
	margin-bottom: 2vh;
}

.col_desc {
	display: inline-block;
	margin-top: 5vw;
	margin-left: 6.25vw;
	width: 93.75vw;
	margin-bottom: 5vw;
}

.txt_col {
	width: 25vw;
	margin-right: 6.25vw;
	float: left;
	text-align: center;
}

.description {
	text-align: justify;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: white;
}

@media screen and (max-width: 1000px) {
	.logo_a{
		margin-top:-15px;
	}
	.logo {
		font-size: 30px;
		line-height: 10px;
		margin-left: 15px;
	}
	
	.logo .logo-text {
		font-family: "Ubuntu";
		font-weight: bold;
		margin-left: 70px;
		color: white;
	}
	
	.logo_m {
		width: 60px;
		height: 60px;
		color: rgba(0, 0, 0, 0);
	}
	
	.logo_m svg {
		margin-top: 25px;
		width: 60px;
		height: auto;
	}
	#titlePage {
		width: 100vw;
		min-height: 60vh;
	}
	#footer {
		font-size: 10px;
		background-color: var(--colorLightBG);
		color: var(--colorLightContent);
		text-align: center;
		padding: 1em;
	}
	#menu {
		font-size: 3vmin;
	}
	#submotto {
		font-size: 3vmin;
		margin-top: 3.5vmin;
	}
	.txt_col {
		float: none !important;
		width: 100%;
		margin-top: 8vw;
	}
	.col_desc {
		margin-left: 0vw;
		text-align: center;
		width: 80vw;
		margin-left: 10vw;
		margin-right: 10vw;
	}
	.description span {
		font-size: 20px;
		line-height: normal;
	}
}