#container{
    width:100%;
    display:inline-block;
    margin-top:-400px;
}
#location{
    width:90vw;
    margin-left:5vw; 
    margin-bottom: 50px;
}
.heading{
    text-align:left;
}
.large{
    font-size:43px;
}
#map {
    border-radius: 10px;
    border: 5px solid white;
    height: 400px; 
    width: 100%;  
    box-shadow: 3px 4px 0px 3px #847DFF;
}
#social{
    margin-left:7.6vw; 
    width:95vw;
    height:auto;
    display:inline-block;
    margin-bottom: 50px;
}

#social .heading{
    margin-left: -2.75vw;
}

.btn img{
    height:3vw;
    width:3vw;
    height:auto;
    float:left;
}
a.btn{
    height:auto;
    width:20vw;
    margin-right:7.75vw;
    float:left;
}
a.btn:hover{
	transition-property: all;
	transition-duration: .05s;
	transition-timing-function: ease-in;
	margin-right:calc(7.75vw - 5px);
}

@media screen and (max-width: 1000px) {
    .btn img{
        height:50px;
        width:50px;
    }
    a.btn{
        width:70vw;
    }
    #social{
        margin-top:100px;
    }
}