.circuit {
    width:95vw;
    padding-left:2.5vw;
    margin-top: -10vw;
    color: rgba(0, 0, 0, 0);
}
.txt_col{
    width:40vw;
}
@media screen and (max-width: 1000px){
    .txt_col {
        width: 100%;
    }
}