
/* Acu' ce vrei sa fac, na, a trebuit sa hardcodez asta care se conflicteaza cu alt css */
#menu {
	font-family: "Open Sans";
}

body.langRo .en {
	display: none !important;
}

body.langEn .ro {
	display: none !important;
}

body.langEn #menu_links a:nth-of-type(7),
body.langRo #menu_links a:nth-of-type(6),
body.langEn #menu_links_m a:nth-of-type(2),
body.langRo #menu_links_m a:nth-of-type(1),

/* si pentru pagina de blinkr a lui Victor */
body.langEn #menu-2,
body.langRo #menu-1 {
	color: white;
	font-weight: bold;
}

