.colls{
    display: inline-block;
    width:100vw;
    margin-top:-10vw;
    margin-bottom: 5vw;
}
.card_elem{
    width:30vw;
    margin-left:2.5vw;
    float:left;
    margin-top:2.5vw;
    height:30vw;
}
.card{ 
    border-radius:10px;
    height:30vw;
    text-align:center;
    position: relative;
}
.card .heading{
    position: absolute;
    bottom:7vw;
    width:90%;
    margin-left:5%;
    margin-bottom:0;
}
.card_overlay{
    font-family: "Open Sans";
    font-weight: bold;
    margin-top: -30vw;
    height:24vw;
    position: relative;
    border-radius:10px;    
    z-index:1;
    text-align:justify;
    font-size: 1.2vw;
    line-height: 2vw;
    padding-left: 2vw;
    padding-right:2vw;
    padding-top:3vw;
    padding-bottom:3vw;
}

.card .btn{
    position: absolute;
    bottom:0;
    left:20%;
}

#C_3Dprinting{
    background:url(img/services/3dprinting.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#C_server{
    background:url(img/services/servers.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#C_podcast{
    background:url(img/services/podcast.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#C_events{
    background:url(img/services/courses.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#C_polistiren{
    background:url(img/services/polystyrene.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#C_dev{
    background:url(img/services/dev.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#CO_3Dprinting{
    background:linear-gradient(45deg, rgb(37, 40, 66), rgba(116, 100, 189, 0.7)), url(img/services/3dprinting.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#CO_server{
    background:linear-gradient(45deg, rgb(37, 40, 66), rgba(116, 100, 189, 0.7)), url(img/services/servers.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#CO_podcast{
    background:linear-gradient(45deg, rgb(37, 40, 66), rgba(116, 100, 189, 0.7)), url(img/services/podcast.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#CO_events{
    background:linear-gradient(45deg, rgb(37, 40, 66), rgba(116, 100, 189, 0.7)), url(img/services/courses.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}
#CO_polistiren{
    background:linear-gradient(45deg, rgb(37, 40, 66), rgba(116, 100, 189, 0.7)), url(img/services/polystyrene.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
}

@media screen and (max-width: 1000px){
    :root{
        --cardheight:500px;
    }
    .colls{
        margin-top:-100px;
    }
    .card_elem{
        width:80vw;
        margin-left:10vw;
        height:var(--cardheight);
    }
    .card .heading{
        padding-top:20vw;
        margin-bottom:1vw;
    }
    .card_overlay{
        height:calc(var(--cardheight) - 6vw);
        margin-top:calc(-1 * var(--cardheight));
        font-size: 15px;
        line-height: 20px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .card{
        height:var(--cardheight);
    }
    .card .btn{
        bottom:0;
        left:7.75vw;
        width:70%;
    }
    .card .heading{
        bottom:100px;
        width:90%;
        margin-left:5%;
    }
}