.colls{
    display: inline-block;
    width:100vw;
    margin-top:-10vw;
    margin-bottom: 5vw;
}
.card_elem{
    width:30vw;
    margin-left:2.5vw;
    float:left;
    margin-top:2.5vw;
    height:40vw;
}
.card{ 
    border-radius:10px;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(img/blinkr-btn.jpg);
    height:40vw;
    text-align:center;
}
.card .heading{
    padding-top:30vw;
    margin-bottom:0;
}
.card_overlay{
    font-family: Ubuntu;
    font-weight: bold;
    margin-top: -40vw;
    height:34vw;
    position: relative;
    border-radius:10px;    
    background:linear-gradient(45deg, rgb(37, 40, 66), rgba(116, 100, 189, 0.7)), url(img/blinkr-btn.jpg);
    z-index:100;
    text-align:justify;
    font-size: 1.7vw;
    line-height: 2.5vw;
    padding-left: 2vw;
    padding-right:2vw;
    padding-top:3vw;
    padding-bottom:3vw;
}

@media screen and (max-width: 1000px){
    .colls{
        margin-top:-100px;
    }
    .card_elem{
        width:80vw;
        margin-left:10vw;
        height:50vw;
    }
    .card .heading{
        padding-top:20vw;
        margin-bottom:1vw;
    }
    .card_overlay{
        height:44vw;
        margin-top: -50vw;
        font-size: 15px;
        line-height: 20px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .card{
        height:50vw;
    }
}