
body{
	background-color:#20124d;
    color: rgba(0, 0, 0, 0);
}
#team{
    color: rgba(0, 0, 0, 0);}
#wheel {
    color: rgba(0, 0, 0, 0);
    animation: ckw 3s ease-in-out infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    animation-play-state: paused;
}
#Layer_1:hover #wheel{   
    animation-play-state: running;
}
  
@keyframes ckw {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
  